!!!
%html
  %head
    %title Only Connect
    %link{rel: "icon", href: "img/favicon.ico", type: "image/vnd.microsoft.icon"}
    %link{rel: "stylesheet", href: "css/app.css", type: "text/css"}
  %body#only-connect
    .screen#title
    .screen#connections
      .question-choice
        .row
          .option#two-reeds
            %p &#78284;
          .option#lion
            %p &#78061;
          .option#twisted-flax
            %p &#78747;
        .row
          .option#horned-viper
            %p &#78225;
          .option#water
            %p &#78359;
          .option#eye-of-horus
            %p &#77952;
      .clues
        .row
          .timer
            .elapsed
            %p 4 Points
        .row
          .clue#clue-1
            %p Clue one
          .clue#clue-2
            %p Clue two
          .clue#clue-3
            %p Clue three
          .clue#clue-4
            %p Clue four has more words
        .row
          .answer
            %p This is the answer

    .screen#connecting-wall.active
      .question-choice
        .row
          .option#lion
            %p &#78061;
          .option#water
            %p &#78359;
      .clues.active
        .row
          .clue
            %p A
          .clue
            %p B
          .clue
            %p C
          .clue
            %p D
        .row
          .clue
            %p E
          .clue
            %p F
          .clue
            %p G
          .clue
            %p H
        .row
          .clue
            %p I
          .clue
            %p Just checking
          .clue
            %p K
          .clue
            %p L
        .row
          .clue
            %p M
          .clue
            %p N
          .clue
            %p O
          .clue
            %p P
        .row
          .lives
            .life
            .life
            .life
          .timer
            .elapsed

    %script{type:"text/javascript", src: "//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"}
    %script{type:"text/javascript", src: "js/app.js"}
