!!!
%html
  %head
    %title Only Connect
    %link{rel: "icon", href: "img/favicon.ico", type: "image/vnd.microsoft.icon"}
    %link{rel: "stylesheet", href: "css/reset.css", type: "text/css"}
    %link{rel: "stylesheet", href: "css/app.css", type: "text/css"}
  %body#only-connect
    .round#title
    .round.active#round-1
      .question-choice
        .row
          .option#two-reeds
            %p &#78284;
          .option#lion
            %p &#78061;
          .option#twisted-flax
            %p &#78747;
        .row
          .option#horned-viper
            %p &#78225;
          .option#water
            %p &#78359;
          .option#eye-of-horus
            %p &#77952;
      .clues.active
        .row
          .clue#clue-1
            %p Clue one
          .clue#clue-2
            %p Clue two
          .clue#clue-3
            %p Clue three
          .clue#clue-4
            %p Clue four
        .row
          .answer
            %p This is the answer

    %script{type:"text/javascript", src: "//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"}
    %script{type:"text/javascript", src: "js/app.js"}
