!!!
%html
  %head
    %title Only Connect
    %link{href: "css/reset.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "css/app.css", rel: "stylesheet", type: "text/css"}/
  %body#only-connect
    .round.active#title
    .round#round-1

    %script{type:"text/javascript", src: "js/jquery-min.js"}
    %script{type:"text/javascript", src: "js/app.js"}
