!!!
%html
  %head
    %title Only Connect
    %link{rel: "icon", href: "img/favicon.ico", type: "image/vnd.microsoft.icon"}
    %link{rel: "stylesheet", href: "css/app.css", type: "text/css"}
    %script{type:"text/javascript", src: "js/angular.min.js"}
    %script{type:"text/javascript", src: "js/angular-route.js"}
    %script{type:"text/javascript", src: "js/angular-animate.js"}
    %script{type:"text/javascript", src: "js/app.js"}
    %body#only-connect{"ng-app" => "onlyConnectApp", "ng-controller" => "GameCtrl"}
      .ng-view
