!!!
%html
  %head
    %title Only Connect
    %link{rel: "icon", href: "img/favicon.ico", type: "image/vnd.microsoft.icon"}
    %link{rel: "stylesheet", href: "css/app.css", type: "text/css"}
  %body#only-connect{"ng-app" => "onlyConnectApp", "ng-controller" => "GameCtrl",
    "ng-click" => "advance()", "ng-keypress" => "advance()"}
    .screen#title{"ng-hide" => "inGame()" }
    .screen#game{"ng-show" => "inGame()" }
      #connections.animate-show{"ng-controller" => "ConnectionsCtrl", "ng-show" => "show()" }
        .question-choice.animate-show{"ng-show" => "showQuestionChoice()"}
          .row
            .option#two-reeds
            .option#lion
            .option#twisted-flax
          .row
            .option#horned-viper
            .option#water
            .option#eye-of-horus
        .clues.animate-show{"ng-show" => "showClues()"}
          .row
            .timer
              .elapsed
              %p 4 Points
          .row
            .clue#clue-1
              %p Clue one
            .clue#clue-2
              %p Clue two
            .clue#clue-3
              %p Clue three
            .clue#clue-4
              %p Clue four has more words
          .row
            .answer
              %p This is the answer

      #connecting-wall.animate-show{"ng-controller" => "ConnectingWallCtrl", "ng-show" => "show()" }
        .question-choice.animate-show{"ng-show" => "showQuestionChoice()"}
          .row
            .option#lion
            .option#water
        .clues.animate-show{"ng-show" => "showClues()"}
          .row
            .clue
              %p A
            .clue
              %p B
            .clue
              %p C
            .clue
              %p D
          .row
            .clue
              %p E
            .clue
              %p F
            .clue
              %p G
            .clue
              %p H
          .row
            .clue
              %p I
            .clue
              %p Just checking
            .clue
              %p K
            .clue
              %p L
          .row
            .clue
              %p M
            .clue
              %p N
            .clue
              %p O
            .clue
              %p P
          .row
            .lives
              .life
              .life
              .life
            .timer
              .elapsed
        .clues.animate-show{"ng-show" => "showAnswers()"}
          .row.row-1.solved
            .clue
              %p A
            .clue
              %p B
            .clue
              %p C
            .clue
              %p D
          .row.row-2.solved
            .clue
              %p E
            .clue
              %p F
            .clue
              %p G
            .clue
              %p H
          .row.row-3.solved
            .clue
              %p I
            .clue
              %p Just checking
            .clue
              %p K
            .clue
              %p L
          .row.row-4.solved
            .clue
              %p M
            .clue
              %p N
            .clue
              %p O
            .clue
              %p P
          .row
            .lives
              .life
            .timer
              .elapsed

        .clues.animate-show{"ng-show" => "showConnection()"}
          .row.row-2.solved.connections
            .clue
              %p E
            .clue
              %p F
            .clue
              %p G
            .clue
              %p H
          .row
            .answer
              %p This is the answer

    %script{type:"text/javascript", src: "js/angular.min.js"}
    %script{type:"text/javascript", src: "js/angular-animate.js"}
    %script{type:"text/javascript", src: "js/app.js"}
