!!!
%html
  %head
    %title Only Connect
    %link{rel: "icon", href: "img/favicon.ico", type: "image/vnd.microsoft.icon"}
    %link{rel: "stylesheet", href: "css/reset.css", type: "text/css"}
    %link{rel: "stylesheet", href: "css/app.css", type: "text/css"}
  %body#only-connect
    .round.active#title
    .round#round-1

    %script{type:"text/javascript", src: "js/jquery-min.js"}
    %script{type:"text/javascript", src: "js/app.js"}
