#connections
  .question-choice.animate-show{"ng-show" => "game.state === 'choosing'"}
    %a.option#two-reeds{href: "", "ng-click" => "game.chooseQuestion('two-reeds')"}
    %a.option#lion{href: "", "ng-click" => "game.chooseQuestion('lion')"}
    %a.option#twisted-flax{href: "", "ng-click" => "game.chooseQuestion('lion')"}
    %a.option#horned-viper{href: "", "ng-click" => "game.chooseQuestion('horned-viper')"}
    %a.option#water{href: "", "ng-click" => "game.chooseQuestion('water')"}
    %a.option#eye-of-horus{href: "", "ng-click" => "game.chooseQuestion('eye-of-horus')"}
  .clues.animate-show{"ng-show" => "game.state === 'playing'"}
    .row
      .timer
        .elapsed
        %p 4 Points
    .row
      .clue#clue-1
        %p Clue one
      .clue#clue-2
        %p Clue two
      .clue#clue-3
        %p Clue three
      .clue#clue-4
        %p Clue four has more words
    .row
      .answer
        %p This is the answer
