.row {
  display: block;
  margin: auto;
  text-align: center;
}

#connections {
  .clues {
    @include panel;
  }

  .timer {
    @include timer(200px, 40px, -320px);
  }

  .clue {
    @include display-box(200px, 5px, 30px, $clue-colour, black);
  }

  .answer {
    width: 842px;
    height: 40px;
    margin: 5px auto;
    line-height: 40px;
    @include linear-gradient(left, $answer-colour, lighten($answer-colour, 10%), $answer-colour);
    @include rounded-box-with-shadow;
    color: white;
    font-size: 30px;

    p {
      margin: 0;
      text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
    }
  }
}

#connecting-wall {
  .lives {
    display: inline-block;
    width: 150px;
    margin: 5px 0;
  }

  .life {
    display: inline-block;
    width: 40px;
    height: 33px;
    background-image: url('/img/life.png');
  }

  .timer {
    @include timer(480px, 20px, 5px);
  }

  .clues {
    @include panel(50px);
  }

  .clue {
    @include display-box(150px, 5px, 30px, $clue-colour, black);
  }
}
