#only-connect {
  font-family: 'PT Sans', sans-serif;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;

  #title {
    @include fullscreen;
    background-image: url('/img/logo.png');
  }

  #connections, #connecting-wall, #missing-vowels {
    @include fullscreen;
    background-image: url('/img/background.png');
  }

  .buttons {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;

    .button {
      @include button(shiny, $start-button-colour);
    }
  }

  .animate-show {
    @include transition(opacity ease-in-out 1s);

    .ng-hide-add, .ng-hide-remove {
      display: block!important;
    }

    .ng-hide {
      opacity: 0;
    }
  }

  @import "question_choice";
  @import "clues";
}
