#only-connect {
  font-family: 'PT Sans', sans-serif;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;

  #title {
    @include fullscreen;
    background-image: url('/img/logo.png');
  }

  .screen {
    @include fullscreen;
    background-image: url('/img/background.png');
  }

  @import "question_choice";
  @import "connections_and_sequences";
}
