.question-choice {
  @include panel;

  .option {
    @include item;
    @include linear-gradient(left, $option-colour, lighten($option-colour, 10%), $option-colour);
    margin: 20px;

    p {
      color: white;
      font-size: 90px;
    }
  }
}
