@import "bourbon/bourbon";

#only-connect {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .round {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;

    &.active {
      display: block;
    }

    &#title {
      background-image: url('/img/logo.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .question-choice {
    $panel-colour: rgba(136, 215, 239, 0.5);
    $option-colour: #08336a;

    width: 100%;
    position: absolute;
    bottom: 100px;
    padding: 50px 0;
    background-color: $panel-colour;
    @include box-shadow(0 0 20px darken($panel-colour, 50%));

    .row {
      text-align: center;

      .option {
        display: inline-block;
        width: 200px;
        height: 150px;
        margin: 10px;
        padding: 10px;
        @include linear-gradient(left, $option-colour, lighten($option-colour, 10%), $option-colour);
        @include box-shadow(5px 5px 10px darken($option-colour, 10%));
        color: white;
        font-size: 90px;
        line-height: 150px;
      }
    }
  }
}
